#include "resource.h"
#include <windows.h>

#ifndef IDC_STATIC
#define IDC_STATIC -1
#endif

IDI_MAIN_ICON ICON "res\\main.ico"
IDI_SMALL_ICON ICON "res\\small.ico"

IDD_ABOUTBOX DIALOGEX 0, 0, 170, 62
STYLE DS_SETFONT |DS_MODALFRAME|DS_FIXEDSYS|WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About Me!"
FONT 8, "MS Shell Dlg"
BEGIN
	ICON IDR_MAINFRAME, IDC_STATIC,14,14,21,20
	LTEXT "ME, Version 1.0",IDC_STATIC,42,14,114,8,SS_NOPREFIX
	LTEXT "Copyright (C) 2011",IDC_STATIC,43,26,114,8
	DEFPUSHBUTTON "OK",IDOK,113,41,50,14,WS_GROUP
END

IDM_MAIN_MENU MENU
BEGIN
	POPUP "&File"
	BEGIN 
		MENUITEM "E&xit", IDM_EXIT
	END
	POPUP "&Help"
	BEGIN 
		MENUITEM "&About ...", IDM_ABOUT
	END
END
